.arrow-scroll {
    margin-bottom: 6.15%;
}

.arrow-scroll__link {
    display: block;
    margin: 0 auto;
    width: rem(29px);
    height: rem(14px);
}

.arrow-scroll--left, .arrow-scroll--right {
    margin-bottom: 0;

    & .arrow-scroll__link {
        width: rem(15px);
        height: rem(27px);
    }
}
.arrow-scroll--left {
    margin-right: rem(20px);

    & .arrow-scroll__img {
        transform: rotate(90deg) translate(0%, 50%);
    }
}

.arrow-scroll--right {
    margin-left: rem(19px);

    & .arrow-scroll__img {
    transform: rotate(-90deg) translate(0%, -50%);
    }
}