.features {
    background: url('../../img/features-background.jpg') no-repeat center center;
    background-size: cover;
}

.features__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.features__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.features__item {
    text-align: center;
    width: calc(100% / 3 - 2.7%);
}

.features__icon {
    height: rem(89px);
    margin-bottom: rem(25px);
}

.features__img {
    margin: 0 auto;
    max-width: 100%;
}

.features__description h3 {
    margin-bottom: rem(15px);

    font-family: "Lifehack";
    font-weight: normal;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.025;
}

.features__description p {
    font-weight: 300;
    opacity: 0.8;

    @include tablets {
        font-size: 14px;
    }
}
