.section {
    height: 100vh;
    min-height: 650px;
}

.section__title {
    font-family: "Gagalin", sans-serif;
    font-size: 72px;
    line-height: 1.18;
    color: #f9b43b;
    margin-bottom: 40px;

    &--welcome {
        margin-bottom: 15px;
    }
    
    &--features {
        color: #2f3234;
        text-align: center;
    }
}