.socials__list {
    display: flex;
    align-items: center;
}

.socials__item {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.socials__link {
    position: relative;
    display: block;
    width: 23px;
    height: 20px;
    background-color: #fff;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.socials__link--img--vk {
    width: 23px;
    height: 13px;

    &::after {
        width: 100%;
        height: 100%;
        background: url("../../img/sprite.svg#vk");
    }
}