.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    background: #101010 url("../../img/footer-background.jpg") no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: rem(6px);
    padding-bottom: rem(10px);

    @include phones {
        padding-top: rem(10px);
        padding-bottom: rem(20px);
    }
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include phones {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}