.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;

    background-color: rgba(47, 50, 52, .92);

    display: none;

    &--visible {
        display: block;
    }
}

.overlay__popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 15px 10px;
    width: 215px;
    background-color: #fff;
    border-radius: 5px;
    color: #2f3234;

    &--review {
        position: relative;
        width: 470px;
        padding: 20px;

        & h4 {
            margin-bottom: 15px;
            font-family: "Gagalin";
            text-transform: uppercase;
        }

        @include phones {
            width: 95%;
        }
    }
}

.overlay__order-text {
    text-align: center;
    line-height: 1.1;
    margin-bottom: 15px;
}