.section {
    height: 100vh;
    min-height: 650px;

    @include phones {
        min-height: 568px;
    }
}

.section__title {
    font-family: "Gagalin", sans-serif;
    font-size: 72px;
    line-height: 1.18;
    color: #f9b43b;
    margin-bottom: rem(40px);
    
    &--features {
        color: #2f3234;
        text-align: center;
    }

    &--menu {
        position: absolute;
        left: 8.6%;
        top: 13.8%;
        color: #fff;
    }

    &--process {
        color: #2f3234;
        font-size: 61px;
    }

    @include tablets {
        text-align: center;
    }

    @include phones {
        font-size: 50px;
        margin-bottom: 10px;
    }

    &--welcome {
        margin-bottom: rem(15px);

        @include phones {
            font-size: 55px;
        }
    }

    &--burgers {
        text-align: left;
        line-height: 0.9;
        color: inherit;

        @include tablets {
            text-align: center;
        }
    }
}