.welcome {
    position: relative;

    background: #101517 url('img/welcome-background.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}

.welcome__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.welcome__content {
    display: flex;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.welcome__picture, .welcome__text {
    width: 50%;

    @include tablets {
        width: 65%;
    }

    @include phones {
        width: 82%;
    }
}

.welcome__picture {
    @include tablets {
        margin-bottom: rem(30px);
    }
}

.welcome__text {
    padding-left: rem(11px);
    padding-bottom: rem(60px);
    align-self: flex-end;

    @include tablets {
        align-self: center;
        text-align: center;
        padding: 0;
    }

    @include phones {
        width: 100%;
    }
}

.welcome__img {
    margin-left: auto;
}